target_dir_path1=/user/project2/local/airport_data/mysql
target_dir_path2=/user/project2/local/flightt_data/mysql
job_name1=airport_data
job_name2=flight_data
job_id=$(date '+%H%M%S')
database_name=project2
table_name=$1
splitby_column=$2
audit_dataset_name=project2
audit_table_name=audit_tb
local_path=/home/hadoop/sourabh1/Input_Data/project2/splited_data/flights.csv
hdfs_path=/user/project2/local/flight_data/mysql